@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}

.grid-container {
    font-family: digital-7;
    width: 30%;
    height: 650px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    column-gap: 0px;
    gap: 5px;
}

.grid-item {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.grid-item1 {
    display: flex;
    grid-column: 1 / span 4;
    height: 80%;
    text-align: right;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

body {
    background-color: blueviolet;
}

.item1 {
    width: 95%;
    background-color: rgb(243, 153, 34);
    font-size: 70px;
    text-align: right;
    border-radius: 15px;
}

.item2 {
    display: flex;
    background-color: rgb(243, 153, 34);
    position: relative;
    text-align: center;
    border-radius: 15px;
    width: 70%;
    height: 70%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: digital-7;
}